@import url("base.css");

@import url('modal.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;

}

a{ text-decoration: none; }

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}


.paragrafo h1 {
	font-size: 40pt;
	margin-bottom: 1%;
	color: #F47A0D;
	text-transform: uppercase;
	font-weight: bold;
}

/*------------------------------------*\
  		#Header-SEÇÃO
\*------------------------------------*/

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999999999;
  font-family: 'Roboto', sans-serif;

}
.header .header__content { 
  display:flex;
  flex-direction: column;
}
	.header .header__content .header__info {
  	  background-color: white;
      display: flex;
      justify-content: space-between;
	}

		.header .header__content .header__info .contatos {
		  display: flex;
		  flex-direction: column;
		  align-items: flex-end;
		  line-height: 22px;
		  justify-content: center;
		  width: 70%;
		}

      .header .header__content .header__info .contatos #title {
        font-size: 22pt;
        margin-bottom: 1%;
        color: #F47A0D;
        font-weight: 900;
      }

      .header .header__content .header__info .contatos #email {
        font-size: 15pt;
      }

			.header__content .header__info .contatos .telefones {
  			  display: flex;
          justify-content: space-between;
          width: 37%;
          font-size: 14pt;
 			}

      .header__content .header__info .contatos .telefones i { color: #F47A0D; }

.header .header__content .header__menu ul {
  display: flex;
  justify-content: center;
  background: #042638;
}

	.header .header__content .header__menu ul li { list-style: none; }
	.header .header__content .header__menu ul li:hover { background-color: orange; }

		.header .header__content .header__menu ul li a {
	  	  margin: 10px;
	      display: block;
	      padding: 5px;
        text-transform: uppercase;
        font-weight: 500;
	      font-size: 18pt;
	      color: white;
	    }

/*------------------------------------*\
      #Header-Mobile
\*------------------------------------*/
.mobile {
  display: flex;
  margin: 5%;
  font-size: 22pt;
  align-items: center;
}

.mobile a { color: #F47A0D; }
.menu-mobile {
  position: fixed;
  z-index: 99999999999;
  width: 100%;
  top: 0;
  display: none;
  height: 100vh;
  overflow: scroll;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.menu-mobile .container .close {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
  font-size: 25pt;
  margin-top: 5%;
  
}

.menu-mobile .container .close a { color: #F47A0D; }

.menu-mobile .container ul li { margin-bottom: 2%; }
.menu-mobile .container ul li a {
  font-size: 22pt;
  color: #042638;
}

.menu-mobile .container .contatos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  color: #042638;
}
.menu-mobile .container .contatos .whatsApp,
 .menu-mobile .container .contatos .telefone {
    display: flex;
    font-size: 18pt;
    width: 50%;
    margin-bottom: 2%;
    justify-content: space-evenly;
 }

.menu-mobile .container .contatos .whatsApp i,
 .menu-mobile .container .contatos .telefone i { color: #F47A0D; }

.menu-mobile .container .contatos p { font-size: 18pt; }


/*------------------------------------*\
		#Home-SEÇÃO
\*------------------------------------*/

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-image: url('../img/home.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

.home .home__content{
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  align-items: center;
  justify-content: center;
}

.home .home__content .home--info {
  
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;

}

.home .home__content .home--info h1 {
  font-size: 40pt;
  text-transform: uppercase;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}
.home .home__content .home--info a{
  padding: 20px;
  border: none;
  background: #042638;
  color:white;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 17pt;
  letter-spacing: .09em;
  border-radius: 30px;
  width: 30%;
  cursor: pointer;
  transition: background-color 1s;
  font-family: 'Roboto', sans-serif;
}

.home .home__content .home--info a:hover {
  background: white;
  color: #002035;
}
.home .home__content .home--whatsApp {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  
}

.home .home__content .home--whatsApp .circle {
  border-radius: 50%;
  background-color: #00CD57;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease-out;
}

.home .home__content .home--whatsApp .circle:hover { background-color: white; }
.home .home__content .home--whatsApp .circle:hover a { color: #00CD57; }
.home .home__content .home--whatsApp .circle a {
  color: white;
  margin-top: 5%;
  font-size: 250%;
  transition: 1s ease-out;
}
/*------------------------------------*\
		#Sobre-SEÇÃO
\*------------------------------------*/

.sobre {
	padding-top: 96px;
	padding-bottom: 96px;
	background-color: #002035;
  font-family: 'Roboto', sans-serif;
}
.sobre .sobre__content .sobre--paragrafo h1 { margin-bottom: 3%; }
.sobre .sobre__content .sobre--paragrafo p { 
	color: white;
	font-size: 15pt;
	line-height: 1em;

}

.sobre .sobre__content .sobre--empresa{
  display: flex;
  margin-top: 3%;
}
	
	.sobre .sobre__content .sobre--empresa .empresa {
	  text-align: initial;
	  width: 20%;
	  margin-right: 20%
	}

  .sobre .sobre__content .sobre--empresa .empresa .title {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
  }

  .sobre .sobre__content .sobre--empresa .empresa .title h1 {
    font-size: 15pt;
    color: #F47A0D;
    text-transform: uppercase;
    margin-bottom: 3%;
  }

  .sobre .sobre__content .sobre--empresa .empresa .title .linha-animada {
    width: 35px;
    height: 2px;
    background-color: white;
    transition: width 1s;
  }
  
  .sobre .sobre__content .sobre--empresa .empresa .title:hover .linha-animada{ 
    width: 100px;
     
  }
	 

	.sobre .sobre__content .sobre--empresa .empresa p {
	  font-size: 13pt;
	  color: white;
	}

	.sobre .sobre__content .sobre--empresa .empresa:nth-child(3) { margin-right: 0; }


/*------------------------------------*\
		#Produtos-SEÇÃO
\*------------------------------------*/

.produtos {
  padding-top: 96px;
  padding-bottom: 96px;
  font-family: 'Roboto', sans-serif;
}

.produtos .produtos__content .paragrafo p { font-size: 18pt; }

.produtos .produtos__content .produtos--secao { 
  display: flex;
  flex-wrap: wrap;
  margin-top: 4%;
  justify-content: center;

}

.produtos .produtos__content .produtos--secao .overflow {
  width: 428px;
  color: #093E4E;
  height: 228px;
  margin-right: 2%;
  overflow: hidden;
  background-blend-mode: multiply;
  display: inherit;
  border-radius: 10px;
  margin-bottom: 2%;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}
.produtos .produtos__content .produtos--secao .overflow .produto {
  height: 228px;
  width: 428px;
  transition: 0.5s ease-out;
}

.produtos .produtos__content .produtos--secao .overflow .produto:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.produtos .produtos__content .produtos--secao .overflow .produto .produto--info {
	color: white;
	height: 228px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: rgba(4,38,56,0.72); /*0.8 = nivel de opacidade*/
}

.produtos .produtos__content .produtos--secao .overflow .produto:nth-child(2),.produtos .produtos__content .produtos--secao .produto:nth-child(4) { margin-right: 0; }

.produtos .produtos__content .produtos--secao .overflow .produto .produto--info .nome { 
  font-size: 30pt;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase; 
}

.produtos .produtos__content .produtos--secao .overflow .produto .produto--info .status { font-size: 15pt; }

/*------------------------------------*\
		#Serviços-SEÇÃO
\*------------------------------------*/

.servicos {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #F47A0D;
  font-family: 'Roboto', sans-serif;
}

.servicos .servicos__content .paragrafo p { font-size: 18pt; }
.servicos .servicos__content .paragrafo h1 { color:white; }

.servicos .servicos__content .servicos--secao { 
  display: flex;
  justify-content: center;
  margin-top: 2%;
  flex-wrap: wrap;
}

.servicos .servicos__content .servicos--secao .servico {
  width: 264px;
  height: 315px;
  margin-right: 2%;
  border-radius: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease-out;
}

.servicos .servicos__content .servicos--secao .servico:hover { transform: scale3d(1.1, 1.1, 1.1); }
.servicos .servicos__content .servicos--secao .servico:hover .servico--info {
  opacity: 1;
  transition: opacity .3s linear;
  height: 315px;
  color: white;
  border-radius: 10px;
  background-color: rgba(4,38,56,0.72);
}

.servicos .servicos__content .servicos--secao .servico:nth-child(4) { margin-right: 0; }
	.servicos .servicos__content .servicos--secao .servico .servico--info {
	  opacity: 0;
	  pointer-events: none;
    }
		.servicos .servicos__content .servicos--secao .servico .servico--info .content-info {
		  width: 90%;
		  height: 315px;
		  display: flex;
		  margin: 0 auto;
		  justify-content: space-evenly;
		  flex-direction: column;
		 
		}

    .servicos .servicos__content .servicos--secao .servico .servico--info .content-info .titulo { 
      font-size: 21pt;
      line-height: 1.3em;
    }
    .servicos .servicos__content .servicos--secao .servico .servico--info .content-info .descricao { 
      font-size: 15pt;
      font-weight: 300;
    }


/*------------------------------------*\
		#Parceiros-SEÇÃO
\*------------------------------------*/

.parceiros {
	padding-top: 96px;
	padding-bottom: 96px;
  font-family: 'Roboto', sans-serif;
}

.slick-slide img { display: initial; }

/*------------------------------------*\
		#Contato-SEÇÃO
\*------------------------------------*/

.mapa{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
}
.mapa .map-item { width: 100%; }
.mapa .map-item iframe { width: 100%; height: 700px; }

.mapa .formulario {
  position: absolute;
  z-index: 5;
  background-color: white;
  left: 45px;
  width: 494px;
  height: 600px;
  margin-top: 1%;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}

.formulario .titulo-formulario { 
  margin-bottom: 3%;
  text-align: center; 
  margin-top: 4%;
}

.formulario .titulo-formulario h1{
	font-size: 30pt;
	font-weight: 500;
    margin-bottom: 1em;
    color: #F47A0D;
}
.flex-outer{
	list-style-type: none;
  	padding: 0;
  	width: 80%;
    margin: 0 auto;
}

.flex-outer li{
	display: flex;
  	flex-wrap: wrap;
  	align-items: center;
}

.flex-outer > li > input, .flex-outer > li > textarea{
    margin-bottom: 20px;
    width: 100%;
    font-weight: 500;
    font-family: 
    color:#333333;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

::-webkit-input-placeholder {
	
	font-weight: 500;
  	color:#333333;
   
}

:-moz-placeholder {
	
	font-weight: 500;
  	color:#333333;
}

::-moz-placeholder {
	
	font-weight: 500;
  	color::#333333;
}

:-ms-input-placeholder {  
	
	font-weight: 500;
  	color:#333333;
}

.flex-outer > li{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.flex-outer li input,
.flex-outer li textarea {
  padding: 15px;
  border: 1px solid #F47A0D;

}
.flex-outer li input:nth-child(3) {
	padding: 30px;
}
.flex-outer li button {
	padding: 12px 16px;
	border: none;
	color: white;
	background-color: #002035;
	width: 137px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0 auto;
	letter-spacing: .09em;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s ease-out;
}

.flex-outer li button:hover{
	background: #C5483F;
  color: #fff;
}

/*------------------------------------*\
		#Footer-SEÇÃO
\*------------------------------------*/

footer {
    background-color: #002035;
    font-size: 18px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

footer .container .redes-sociais {
	font-size: 20%;
	font-size: 200%;
    display: flex;
    justify-content: space-between;
    width: 7%;
}
footer .container .redes-sociais > a { color: white; }
footer .container .desenvolvido > div a {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

footer .container .desenvolvido > div span{
    width: 165px;
    display: block;
}

footer .container .desenvolvido > div img{
    width: 60px;
}


/*------------------------------------*\
    #Modal-SEÇÃO
\*------------------------------------*/

.orcamento-modal {
  position: fixed;
  z-index: 99999999999;
  width: 100%;
  top: 0;
  display: none;
}
.orcamento-modal .orcamento-modal__content {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 0 100vw rgba(0,0,0,.6);

}

.orcamento-modal .orcamento-modal__content .bt-close {
  display: flex;
  margin-top: 2%;
  justify-content: flex-end;
  font-size: 22pt;
  color: #F47A0D;
  margin-right: 5%;
}

.orcamento-modal .orcamento-modal__content .bt-close a { 
  margin-top: 2%; 
  cursor: pointer;
}

.orcamento-modal .orcamento-modal__content .orcamento .title {
  color: #F47A0D;
  font-size: 30pt;
  font-family: 'Roboto', sans-serif;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.orcamento-modal .orcamento-modal__content .orcamento .campos { 
  display: flex;
  margin-top: 2%; 
}
.orcamento-modal .orcamento-modal__content .orcamento .campos .primeira-coluna,
  .orcamento-modal .orcamento-modal__content .orcamento .campos .segunda-coluna {
    width: 50%;
}

.orcamento-modal .orcamento-modal__content .orcamento .campos .primeira-coluna input,
  .orcamento-modal .orcamento-modal__content .orcamento .campos .segunda-coluna input {
    border-radius: 5px;
    border: 1px solid #F47A0D;
    background-color: #EFEFEF;
    font-family: 'Roboto', sans-serif;
  }

.orcamento-modal .orcamento-modal__content .orcamento .produtos-info {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
  .orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto {
    display: flex;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 40%;
  }

    .orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto .produto--nome {
      display: flex;
      align-items: center;
      margin-right: 5%;
      width: 80%;

    }

    .orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto .produto--nome p,
      .orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto .produto--quantidade p {
      margin-right: 3%;
      font-size: 15pt;
      font-family: 'Roboto', sans-serif;
      color: #F47A0D;
      
    }

    .orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto .produto--nome select {
      border-radius: 5px;
      border: 1px solid #F47A0D;
      width: 200px;
      height: 40px;
      background-color: #EFEFEF;
    }

    .orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto .produto--quantidade {
      display: flex;
      align-items: center;
    }

    .orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto .produto--quantidade input {
      border-radius: 5px;
      border: 1px solid #F47A0D;
      width: 60px;
      height: 40px;
      background-color: #EFEFEF;
    }
.orcamento-modal .orcamento-modal__content .orcamento .bt-enviar button {
  border: 3px solid #042638;
  border-radius: 5px;
  background: white;
  width: 20%;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20pt;
  margin-bottom: 5%;
  padding: 12px 15px;
  color: #042638;
  font-family: 'Roboto', sans-serif;
}
     
.orcamento-modal.show{ display: block; }


/*------------------------------------*\
      #Produtos-single-SEÇÃO
\*------------------------------------*/

.produto-single {
  width: 100%;
  height: 100vh;
}

.produto-single .produto-single__content { margin-top: 15%; }
.produto-single .produto-single__content .title {
  display: flex;
  font-size: 30pt;
  color: #F47A0D;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid #F47A0D;
  width: 165px;
  margin-top: 10%;
}

.produto-single .produto-single__content .produtos--secao {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}

.produto-single .produto-single__content .produtos--secao .produto {
  display: flex;
  margin-right: 2%;
  width: 45%;
  margin-bottom: 2%;
}
.produto-single .produto-single__content .produtos--secao .produto .overflow-image {
  overflow: hidden;
  background-blend-mode: multiply;
  display: inherit;
  width: 300px;
  height: 155px;
}

.produto-single .produto-single__content .produtos--secao .produto .overflow-image .image {
  width: 300px;
  height: 155px;
  background-position: center;
  transition: 1s ease-out;
}

.produto-single .produto-single__content .produtos--secao .produto .overflow-image .image:hover {
  transform: scale3d(1.1,1.1,1.1);
}

.produto-single .produto-single__content .produtos--secao .produto .produto-detalhes {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  margin-left: 2%;
  font-family: 'Roboto', sans-serif;
}

  .produto-single .produto-single__content .produtos--secao .produto .produto-detalhes .nome {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
  }

/*------------------------------------*\
      #Orçamento
\*------------------------------------*/

.pedir-orcamento {
  width: 100%;
  background-color: #042638;
  font-family: 'Roboto', sans-serif;
}

.pedir-orcamento .pedir-orcamento__content {
  display: flex;
  justify-content: space-between;
}

.pedir-orcamento .pedir-orcamento__content .chamada-orcamento {
  color: #F47A0D;
  padding-bottom: 40px;
  padding-top: 50px;
  font-size: 30pt;
}

.pedir-orcamento .pedir-orcamento__content .abrir-modal {
  padding-bottom: 40px;
  padding-top: 40px;
}

.pedir-orcamento .pedir-orcamento__content .abrir-modal button {
  border: 3px solid #042638;
  border-radius: 10px;
  background: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20pt;
  margin-bottom: 5%;
  padding: 12px 15px;
  color: #F47A0D;
  cursor: pointer;
  transition: 1s ease-out;
  font-family: 'Roboto', sans-serif;
}

.pedir-orcamento .pedir-orcamento__content .abrir-modal button:hover {
  color: white;
  background-color: #F47A0D;
}