/* responsive */
@media (max-width: 1440px) {
	.mobile,
	.menu-mobile { display: none;}
}

@media (min-width: 1280px) {
	.header__content .header__info .contatos .telefones { width: 41%; }
	.orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto { width: 45%; }
}

@media (max-width:1024px) {

	.home .home__content .home--info { width: 100%; }

	.header__content .header__info .contatos .telefones { width: 52%; }

	.servicos .servicos__content .servicos--secao .servico { 
	  width: 300px;
	  margin-right: 5%;
	  margin-bottom: 5%;
	}
		.servicos .servicos__content .servicos--secao .servico:nth-child(4) { margin-right: 5%; }

	.produto-single .produto-single__content { margin-top: 20%; }

	.produto-single .produto-single__content .produtos--secao .produto {
		width: 100%;
	}

	.produto-single .produto-single__content .produtos--secao .produto .produto-detalhes {
	  width: 50%;
	  justify-content: initial;
	}

	.produto-single .produto-single__content .produtos--secao .produto .produto-detalhes .nome { font-size: 18pt; }
	.produto-single .produto-single__content .produtos--secao .produto .produto-detalhes .texto { font-size: 15pt; }

	.pedir-orcamento .pedir-orcamento__content .chamada-orcamento { font-size: 26pt; }

	.orcamento-modal {
		height: 100vh;
		overflow: scroll;

	}
		.orcamento-modal .orcamento-modal__content .orcamento .title { justify-content: center; }
		.orcamento-modal .orcamento-modal__content .orcamento .produtos-info {
			flex-direction: column;
			align-items: center;
		}
			.orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto { width: 70%; }

}



@media (max-width: 768px) {

	.header__content .header__info .contatos .telefones {
      width: 65%;
      font-size: 13pt;
    }
    	.header .header__content .header__info .contatos #email { font-size: 13pt; }
	.home .home__content .home--info { margin-bottom: 4%; }
		.home .home__content .home--info h1 { font-size: 35pt; }
		.home .home__content .home--info a { width: 50%; }

	.sobre .sobre__content .sobre--empresa { 
		flex-direction: column; 
		justify-content: center;
    	align-items: center;
    	margin-top: 7%;
	}

	.sobre .sobre__content .sobre--empresa .empresa {
		width: 70%;
		margin-right: 0%;
		margin-bottom: 4%;
	}

	.produto-single .produto-single__content { margin-top: 25%; }

	.pedir-orcamento .pedir-orcamento__content { flex-direction: column; }

	footer .container .redes-sociais > a { margin-right: 60%; }

	.orcamento-modal .orcamento-modal__content .orcamento .campos { flex-direction: column; }
	.orcamento-modal .orcamento-modal__content .orcamento .campos .primeira-coluna,
	 .orcamento-modal .orcamento-modal__content .orcamento .campos .segunda-coluna, 
		.orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto { width: 100%; }

	.orcamento-modal .orcamento-modal__content .orcamento .bt-enviar button { width: 40%; }
}

@media (max-width: 680px) {
	.header .header__content .header__info .contatos, .header .header__content .header__menu, .formulario { display: none; }
	.mobile { display: block; }
	.sobre .sobre__content .sobre--paragrafo p { text-align: justify; }
}

@media (max-width: 550px) {

	
	footer .container { flex-direction: column; }
	footer .container > div { margin-bottom: 2%; }
		footer .container .empresa { font-size: 22pt; }
		footer .container .redes-sociais > a { margin-right: 100%; }

	.home .home__content .home--info a { width: 100%; }

	.produtos .produtos__content .paragrafo, 
	.servicos .servicos__content .paragrafo { margin-bottom: 10%; }

}

@media (max-width: 425px) {

	.mobile { font-size: 40pt; }
	.menu-mobile .container .contatos .whatsApp,
	 .menu-mobile .container .contatos .telefone { width: 100%; }

	.home { height: 125vh; }
		.home .home__content .home--info {
	      margin-top: 20%;
	      margin-bottom: 10%;
	    }
			.home .home__content .home--info a { margin-top: 6%; }

		.home .home__content .home--whatsApp { justify-content: center; }

	.produtos .produtos__content .produtos--secao .overflow,
	.servicos .servicos__content .servicos--secao .servico { margin-bottom: 10%; }
	
	.produto-single .produto-single__content { margin-top: 35%; }
		.produto-single .produto-single__content .produtos--secao .produto {
		   flex-direction: column;
		   margin-bottom: 10%;
		}
			.produto-single .produto-single__content .produtos--secao .produto .overflow-image { width: initial; }
				.produto-single .produto-single__content .produtos--secao .produto .overflow-image .image { width: 100%; }
			
			.produto-single .produto-single__content .produtos--secao .produto .produto-detalhes {
				margin-left: 0;
				width: 100%;
				margin-top: 2%;
			}

			.produto-single .produto-single__content .produtos--secao .produto .produto-detalhes .nome { font-size: 16pt; }
			.produto-single .produto-single__content .produtos--secao .produto .produto-detalhes .texto { font-size: 14pt; }
	
	.orcamento-modal .orcamento-modal__content .bt-close {
		justify-content: center;
		margin-bottom: 5%;
	}
	.orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto {
		flex-direction: column;
		margin-right: 0;
	}

	.orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto .produto--nome {
		width: 100%;
		margin-bottom: 5%;
		justify-content: center;

	}

	.orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto .produto--quantidade {
		width: 100%;
		justify-content: center;
	}

	.orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto .produto--quantidade p { margin-right: 12%; }
	.orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto .produto--quantidade input { width: 200px;  }

	.pedir-orcamento .pedir-orcamento__content .chamada-orcamento h1 span:before {
      content: '\A';
      white-space: pre;
    }



}

@media(max-width: 375px) {

	.menu-mobile .container .close { justify-content: center; }
	.paragrafo h1 { font-size: 35pt; }
	.produtos .produtos__content .paragrafo p,
	.servicos .servicos__content .paragrafo p { font-size: 15pt; }
	.mobile { font-size: 35pt; }
	.pedir-orcamento .pedir-orcamento__content .chamada-orcamento { font-size: 22pt; }
	.pedir-orcamento .pedir-orcamento__content .abrir-modal button { font-size: 18pt; }
}

@media(max-width: 360px) {
	.menu-mobile .container .contatos p { font-size: 16pt; }
	.orcamento-modal .orcamento-modal__content .orcamento .title { font-size: 25pt; }


}

@media(max-width: 320px) {

	.mobile { font-size: 30pt; }
	.orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto .produto--quantidade,
	 .orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto .produto--nome {
		flex-direction: column;
	}

	.orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto .produto--nome p,
	 .orcamento-modal .orcamento-modal__content .orcamento .produtos-info .produto .produto--quantidade p {
		margin-bottom: 5%;
	} 

	.orcamento-modal .orcamento-modal__content .orcamento .bt-enviar button {
      width: 65%;
	}

	.pedir-orcamento .pedir-orcamento__content .chamada-orcamento { font-size: 20pt; }

}